<div class="wrapper">
    <div class="d-flex align-items-center">
        <div class="wrapper__navbar d-flex justify-content-center align-items-center">


            <!-- HEADER ICON -->
            <div class="wrapper__navbar__logo">
                <div class="wrapper__navbar__logo__small">
                    <h3 class="wrapper__navbar__logo__small__text">
                        Contact
                    </h3>
                </div>
                <div class="wrapper__navbar__logo__large">
                    <h1 class="wrapper__navbar__logo__large__text">
                        PRO
                    </h1>
                </div>
            </div>
        </div>
    </div>


    <div ui-view class="wrapper__root"></div>
</div>