@import "assets/css/variables";

.cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);

	&--white {
		background: rgba(255,255,255,.7);
	}

	&__fade {
		&--in {
			opacity: 1;
			z-index: 9;

			@include transition(200);
		}

		&--out {
			opacity: 0;
			z-index: -1;

			@include transition(200);
		}
	}

	@media #{$breakPoint_xtra_small} {
		height: $content_height__medium;
	}
}

.wrapper {
	position: relative;
	z-index:1;
	height: 100vh;

	&__navbar {
		position: fixed;
		top: 0;
		width: 100%;
		height: $nav-height__large;
		background: #181626;
		z-index:1000;

		-webkit-box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 1);
		-moz-box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 1);
		box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 1);

		@media #{$fullHD} {
			height: $nav-height__medium;
		}

		&__logo {
			color: #fff;
			text-align: center;
			opacity:1;

			@include transition(200);

			&.nav-logo--hide {
				opacity:0;
				@include transition(200);
			}

			&__small {
				&__text {
					margin-bottom: 0;
					letter-spacing: 10px;
					text-transform: uppercase;

					@media #{$fullHD} {
						font-size: 1em;
					}
				}
			}

			&__large  {
				&__text {
					margin-bottom: 0;
					font-weight: 600;
					margin-left: 45px;
					letter-spacing: 55px;

				}

				@media #{$fullHD} {
					&__text {
						margin-left: 37px;
						letter-spacing: 45px;
						font-size: 1.5em;
					}
				}
			}
		}
	}

	&__root {
		height: $content_height__large;
		top: $nav-height__large;
		position: relative;

		@media #{$fullHD} {
			height: $content_height__medium;
			top: $nav-height__medium;
		}
	}
}


