<div class="cover"></div>

<div class="side-panel d-flex flex-column justify-content-center align-items-center">


	<!-- SIDE PANEL HEADER -->
	<div class="side-panel__cContainerTitle">
		<h2 class="side-panel__cContainerTitle__text">Filter</h2>
	</div>


	<!-- TABLE SEARCH -->
	<div class="side-panel__cSearch">
		<input class="side-panel__cSearch__input" placeholder="Search.." type="text" ng-model="list.searchTable">
	</div>


	<!-- AGE SLIDER -->
	<div class="side-panel__cAge-slider d-flex flex-column">
		<rzslider rz-slider-model="list.ageSort.min"
				  rz-slider-high="list.ageSort.max"
				  rz-slider-options="list.ageSort.options">
		</rzslider>
	</div>


	<!-- GENDER FILTER ICONS-->
	<div class="side-panel__cGenders">
		<div class="d-flex flex-row">
			<div
					class="col side-panel__cGenders__cGender"
					ng-click="list.genderFilterClicked($index)"
					ng-repeat="gender in list.availableGenders"
					ng-class="gender.state ? 'side-panel__cGenders__cGender--active' : 'side-panel__cGenders__cGender--inactive'"
			>

				<i class="fa fa-{{gender.icon}} side-panel__cGenders__cGender__icon"></i>
				<p class="side-panel__cGenders__cGender__text">{{gender.gender}}</p>

			</div>
		</div>
	</div>


	<!-- EXPORT BUTTON -->
	<div class="side-panel__cExport hide-on__xs">
		<div class="col">

			<button
					class="side-panel__cExport__button"
					ng-class="list.export.length ? 'side-panel__cExport__button--enabled' : 'side-panel__cExport__button--disabled'"
					ng-click="list.exportContacts()"
			>
				Export contacts
			</button>

		</div>
	</div>

	<!-- FILTER BUTTON -->
	<div class="side-panel__cGoFilter hide-on__sm hide-on__md hide-on__lg hide-on_xl">
		<div class="col">

			<button
					class="side-panel__cGoFilter__button"
					ng-click="list.toggleFilter()"
			>
				Filter
			</button>

		</div>
	</div>

</div>