@import "assets/css/variables";

$left-panel-marBot__medium: 40px;

.side-panel {
    width: 100%;

    @include breakpoint(xs){
        > div {
            margin-bottom: 20px;
        }
    }

    @include breakpoint(sm){
        > div {
            margin-bottom: 30px;
        }
    }
    @include breakpoint(md){
        > div {
            margin-bottom: 40px;
        }
    }

    &__cContainerTitle {
        z-index:2;
        margin-bottom: 60px;

        @include breakpoint(xs){
            margin-bottom: 50px!important;
        }

        &__text {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1em;
            padding-left: 30px;

            @media #{$fullHD} {
                font-size: 1.5em;
            }
        }
    }

    &__cSearch {
        width: 60%;
        position: relative;
        margin-bottom: 70px;

        @media #{$fullHD} {
            margin-bottom: $left-panel-marBot__medium;
        }

        &:after {
            width: 40px;
            height: 40px;
            font-family: 'FontAwesome';
            color: #fff;
            position: absolute;
            content: "\f002";
            font-size: 1.2em;
            right: 0;
            text-align: left;
            line-height:40px;
            top: 0;

            @media #{$fullHD} {
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 1em;
            }
        }

        &__input {
            background: rgba(255,255,255,.2);
            height:40px;
            width: 100%;
            outline-width: 0;
            border-radius: 20px;
            padding-left: 20px;
            padding-right: 20px;
            color: #fff;
            border: 1px solid #fff;

            @include transition(200);

            &:focus {
                color: #000;
                background-color: rgba(255,255,255,1);
                border:2px solid $strongPurple;

                @include transition(200);
            }

            @media #{$fullHD} {
                height: 30px;
            }
        }
    }

    &__cAge-slider {
        margin-bottom: 70px;
        width: 50%;

        @media #{$fullHD} {
            margin-bottom: $left-panel-marBot__medium;
        }

        &__cValues {
            color: #fff;
        }
    }

    &__cTitle {
        margin-bottom: 70px;

        @media #{$fullHD} {
            margin-bottom: $left-panel-marBot__medium;
        }
    }

    &__cExport {
        &__button {
            background: rgba(255,255,255,.2);
            height:30px;
            width: 100%;
            outline-width: 0;
            border-radius: 20px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: .8em;

            @include transition(200);

            &:active {
                outline-width: 0;
            }

            &--enabled {
                color: #fff;
                border: 1px solid #fff;

                @include transition(200);

                &:hover {
                    color: #777;
                    cursor: pointer;
                    border: rgba(255,255,255,1);
                    background: rgba(255,255,255,1);

                    @include transition(200);
                }

            }

            &--disabled {
                color:#808080;
                border: 1px solid #808080;

                @include transition(200);
            }
        }
    }

    &__cGenders {
        color: #fff;
        margin-bottom: 70px;

        @media #{$fullHD} {
            margin-bottom: $left-panel-marBot__medium;
        }

        &__cGender {
            margin-bottom: 0;

            &__icon {
                cursor: pointer;
                width: 100%;
                color: #fff;
                text-align: center;
                font-size: 2.2em!important;
                margin-bottom: 10px;

                @include transition(200);

                @media #{$fullHD} {
                    font-size: 2em;
                }

            }

            &__text {
                cursor: pointer;
                text-transform: uppercase;
                color: #fff;
                margin-bottom: 0;

                @include transition(200);

                @media #{$fullHD} {
                    font-size: .9em;
                }
            }

            &:hover {
                * {
                    color: $dampPurple;

                    @include transition(200);
                }
            }

            &--active {
                * {
                    color: $mediumPurple;
                    @include transition(200);
                }
            }

            &--inactive {
                * {
                    color: #fff;
                    @include transition(200);
                }
            }
        }
    }

    &__cGoFilter{
        width:50%;
        margin-top: 30px;

        &__button {
            background: $mediumPurple;
            height:30px;
            border-radius: 30px;
            color: #fff;
            border: none;
            font-size: .8em;
            display: block;
            width: 100%;
        }
    }
}