<table class="tbl">
    <thead fix-head class="tbl__thead hide-on__xs">

        <!-- TABLE HEADER -->
        <tr class="tbl__thead__tr">
            <th class="tbl__thead__tr__profile-picture">
            </th>

            <!-- TABLE HEADER || USER TITLE -->
            <th class="tbl__thead__tr__title">
                <a
                        href="#"
                        ng-click="$ctrl.sortTable('name.title')"
                        class="tbl__thead__tr__title__text"
                >
                    Title
                    <span
                            ng-show="$ctrl.sortType == 'name.title'"
                            class="fa fa-caret-down sort-order-icon--{{$ctrl.sortReverse}}"
                    ></span>
                </a>
            </th>

            <!-- TABLE HEADER || USER FIRST NAME-->
            <th class="tbl__thead__tr__first-name">
                <a
                        href="#"
                        ng-click="$ctrl.sortTable('name.first')"
                        class="tbl__thead__tr__first-name__text"
                >
                    Firstname
                    <span
                            ng-show="$ctrl.sortType == 'name.first'"
                            class="fa fa-caret-down sort-order-icon--{{$ctrl.sortReverse}}"
                    ></span>
                </a>
            </th>


            <!-- TABLE HEADER || USER LAST NAME -->
            <th class="tbl__thead__tr__last-name">
                <a
                        href="#"
                        ng-click="$ctrl.sortTable('name.last')"
                        class="tbl__thead__tr__last-name__text"
                >
                    Lastname
                    <span
                            ng-show="$ctrl.sortType == 'name.last'"
                            class="fa fa-caret-down sort-order-icon--{{$ctrl.sortReverse}}"
                    ></span>
                </a>
            </th>


            <!-- TABLE HEADER || USER CELLPHONE NUMBER -->
            <th class="tbl__thead__tr__mobile-number hide-on__sm hide-on__md hide-on__lg">
                <a
                        href="#"
                        ng-click="$ctrl.sortTable('cell')"
                        class="tbl__thead__tr__mobile-number__text"
                >
                    Cellphone
                    <span
                            ng-show="$ctrl.sortType == 'cell'"
                            class="fa fa-caret-down sort-order-icon--{{$ctrl.sortReverse}}"
                    ></span>
                </a>
            </th>


            <!-- TABLE HEADER || USER EMAIL -->
            <th class="tbl__thead__tr__email">
                <a href="#" ng-click="$ctrl.sortTable('email')" class="tbl__thead__tr__email__text">
                    E-mail
                    <span
                            ng-show="$ctrl.sortType == 'email'"
                            class="fa fa-caret-down sort-order-icon--{{$ctrl.sortReverse}}"
                    ></span>
                </a>
            </th>

            <!-- TABLE HEADER || USER EXPORT RADIO BUTTON -->
            <th class="tbl__thead__tr__export">
                    <span class="tbl__thead__tr__export__text">
                        Export
                    </span>
            </th>
        </tr>

    </thead>





    <tbody class="tbl__tbody" ng-if="$ctrl.dataState">

        <!-- TABLE BODY -->
        <tr ng-click="$ctrl.goToSpecificUser(user)"
            class="tbl__tbody__tr"
            ng-repeat="user in $ctrl.tableData | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter: $ctrl.searchTable"
            infinite-scroll="$ctrl.myPagingFunction()" infinite-scroll-distance="10"
        >

            <!-- TABLE BODY || USER PROFILE PICTRURE -->
            <td class="tbl__tbody__tr__profile-picture">
                <img class="tbl__tbody__tr__profile-picture__image" src="{{user.picture.thumbnail}}" alt="">
            </td>


            <!-- TABLE BODY || USER TITLE -->
            <td class="tbl__tbody__tr__title hide-on__xs">
                    <span class="tbl__tbody__tr__title__text">
                        {{user.name.title}}.
                    </span>
            </td>


            <!-- TABLE BODY || USER FIRST NAME -->
            <td class="tbl__tbody__tr__first-name hide-on__xs">
                    <span class="tbl__tbody__tr__first-name__text">
                        {{user.name.first}}
                    </span>
            </td>


            <!-- TABLE BODY || USER LAST NAME -->
            <td class="tbl__tbody__tr__last-name hide-on__xs">
                <span class="tbl__tbody__tr__last-name__text">{{user.name.last}}</span>
            </td>


            <!-- TABLE BODY || USER CELLHPONE NUMBER -->
            <td class="tbl__tbody__tr__mobile-number hide-on__xs">
                    <span class="tbl__tbody__tr__mobile-number__text">
                        {{user.cell}}
                    </span>
            </td>


            <!-- TABLE BODY || USER EMAIL -->
            <td class="tbl__tbody__tr__email hide-on__xs" ng-click="$event.stopPropagation();">
                <a class="tbl__tbody__tr__email__text" href="mailto:{{user.email}}" target="_top">
                    {{user.email}}
                </a>
            </td>


            <!-- TABLE BODY || USER EXPORT BUTTON -->
            <td class="tbl__tbody__tr__export hide-on__xs" ng-click="$event.stopPropagation();">
                <div class="d-flex align-items-center justify-content-center" style="position: relative">
                    <div class="checkbox-wrapper tbl__tbody__tr__export__cCheckbox">
                        <input type="checkbox" id="exportChechbox{{$index}}"/>
                        <label class="tbl__tbody__tr__export__cCheckbox__label" for="exportChechbox{{$index}}" ng-click="$ctrl.addToExport($index)"></label>
                    </div>
                </div>
            </td>


            <!-- TABLE BODY || USER MOBILE VIEW -->
            <td class="tbl__tbody__tr__mobile-name">
                <div class="row">
                    <div class="col-8">
                        <p class="tbl__tbody__tr__mobile-name__text">
                            {{user.name.first}} {{user.name.last}}
                        </p>
                        <p class="tbl__tbody__tr__mobile-name__sub-text">
                            {{user.email}}
                        </p>
                    </div>

                    <div ng-click="$event.stopPropagation();" class="col-4 tbl__tbody__tr__mobile-name__cMail no-padding d-flex flex-row justify-content-end align-items-center">
                        <a href="mailto:{{user.email}}" target="_top">
                            <div class="tbl__tbody__tr__mobile-name__cIcon__mail" aria-hidden="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                        </a>

                        <a href="tel:{{user.cell}}">
                            <div class="tbl__tbody__tr__mobile-name__cIcon__phone" aria-hidden="true">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tbl__tbody__tr__mobile-name__bottom-border"></div>
            </td>
        </tr>


    </tbody>
</table>