@import "assets/css/variables";

.tbl {
	width:100%;
	position: relative;

	&__thead {
		background-color: $mediumPurple;
		color: #fff;
		padding-right: 60px;
		padding-left: 60px;

		@include breakpoint-d(lg) {
			padding-left: 20px;
			padding-right:20px;
		}

		@include breakpoint(xs) {
			padding-left:10px;
			padding-right:10px;
		}


		@include boxShadow();

		&__tr {
			width: 100%;

			&__profile-picture,
			&__title,
			&__first-name,
			&__last-name,
			&__mobile-number,
			&__email,
			&__export {
				height:80px;

				@media #{$fullHD} {
					height: 60px;
				}

				&__text {
					color: #fff;
					text-decoration: none;

					@include transition(100);

					&:hover {
						color: #999999;
						text-decoration: none;

						@include transition(100);
					}

					@media #{$fullHD} {
						font-size: .8em;
					}
				}
			}

			&__title {
				@include breakpoint-d(md) {
					display: none;
				}
			}

			&__mobile-name {
				font-size: .8em;

				@include breakpoint-u(sm) {
					display: none;
				}
			}

			&__export {
				text-align: center;
			}
		}
	}

	&__tbody {
		overflow: auto;
		background: #fff;

		@include breakpoint(xs) {
			background: transparent;
		}

		@include transition(75);

		:hover {
			background:#f7f7f7;
			cursor: pointer;

			@include transition(75);
			@include breakpoint(xs) {
				background: transparent;
			}
		}

		&__tr {
			height:60px;
			border-bottom: 1px solid #cecece;

			@include breakpoint(xs) {
				border:none;
				height: 70px;
			}

			&__profile-picture {
				&__image {
					width: 45px;
				}
			}

			&__profile-picture,
			&__title,
			&__first-name,
			&__last-name,
			&__mobile-number,
			&__email {
				height:80px;

				@media #{$fullHD} {
					height: 60px;
				}

				&__text {
					@media #{$fullHD} {
						font-size: .8em;
					}
				}
			}

			&__title,
			&__first-name,
			&__last-name {
				&__text {
					text-transform: capitalize;
				}
			}

			&__profile-picture {
				@include breakpoint(xs) {
					width: 55px;
				}
			}

			&__title {
				@media #{$breakPoint_md-and-down} {
					display: none;
				}
			}

			&__mobile-number {
				@media #{$breakPoint_lg-and-down} {
					display: none;
				}
			}

			&__profile-picture {
				&__image {
					border-radius: 50%;
					border:1px solid #555;
				}
			}

			&__email {
				&__text {
					color: $mediumPurple;

					@include transition(200);

					&:hover {
						color: $dampPurple;

						@include transition(200);
					}
				}

				@include breakpoint(xs){
					display: none;
				}
			}

			&__export {
				&__cCheckbox {
					margin-bottom: 0;
					position: relative;
					width: 16px;
					height: 16px;

					&__label {
						position: absolute!important;
					}
				}
			}

			&__mobile-name {
				z-index:3;
				position: relative;

				@include breakpoint(xs) {
					.row {
						max-width: 100%;
					}
				}

				@include breakpoint-u(sm) {
					display: none;
				}

				&__text {
					color: #fff !important;
					text-transform: capitalize;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					margin-bottom: 0;
				}

				&__sub-text {
					color: $mediumPurple;
					font-size: .6em;
					margin-bottom: 0;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				&__bottom-border {
					height:1px;
					width: 100%;
					position: absolute;
					bottom:0;
					opacity:.15;
					left:-10%;

					background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
					background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
				}

				&__cMail {
					padding-right: 3px;
					margin: 0!important;
				}

				&__cMail, &__cPhone, &__cIcon {
					padding-right: 3px;
					position: relative;
					right:-10px;

					&__mail, &__phone {
						margin-left: 5px;
						border-radius: 50%;
						border: 1px solid #fff;
						height:30px;
						width: 30px;
						color: #fff;
						text-align: center;
						line-height: 30px;
					}

					&__mail i {
						position: relative;
						top: -2px;
					}
				}
			}
		}
	}
}