<div class="list" ui-view>
    <div class="d-xl-flex d-lg-flex flex-row">


        <!-- HAMBURGER MENU -->
        <div class="close-menu" ng-click="list.toggleFilter()">
            <div id="nav-icon1" class="hamburger-menu-open hamburger-menu-open--{{!list.filterMenu}}">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>


        <!-- QUICKSEARCH FOR MOBILE -->
        <div class="mobile-quick-search">
            <input class="mobile-quick-search__input" placeholder="Search.." type="text" ng-model="list.searchTable" ng-class="list.quickSearchBool ? 'mobile-quick-search__input--open' : 'mobile-quick-search__input--close'">
            <i class="fa fa-search mobile-quick-search__open" aria-hidden="true" ng-click="list.toggleSearchFilter()" ng-class="!list.quickSearchBool ? 'mobile-quick-search__open--open' : 'mobile-quick-search__open--close'"></i>
            <i class="fa fa-times mobile-quick-search__close" aria-hidden="true" ng-click="list.toggleSearchFilter()" ng-class="list.quickSearchBool ? 'mobile-quick-search__close--open' : 'mobile-quick-search__close--close'"></i>
        </div>


        <!-- LEFT COLUMN || FILTER -->
        <div id="left-column" class="col-xl-3 col-lg-5 col-md-12 col-sm-12 col-xs-12 d-flex list__pos-absolute list__pos-absolute--{{list.filterMenu}}"
             ng-include="'app/templates/sidePanel/sidePanelTemplate.html'"
             ng-init="$ctrl = list">
        </div>


        <!-- RIGHT COLUMN || TABLE -->
        <div class="col-xl-9 col-lg-7 col-md-12 col-sm-12 col-xs-12 no-padding d-xl-flex d-lg-flex justify-content-center flex-column" style="background: #eaeaea;">


            <!-- LOADING SCREEN -->
            <div ng-if="list.filterMenu" class="cover cover--white d-flex justify-content-center align-items-center"
                 ng-class="!list.dataState ? 'cover__fade--in' : 'cover__fade--out'"
            >
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>


            <!-- TABLE -->
            <div class="list__cRight d-flex flex-column">
                <div class="cover"
                     ng-class="!list.filterMenu ? 'cover__fade--in' : 'cover__fade--out'"
                     ng-click="list.toggleFilter()"
                ></div>

                <div class="list__cRight__cTable" ng-include="'app/templates/table/tableTemplate.html'" ng-init="$ctrl = list"></div>
            </div>
        </div>
    </div>
</div>
