@import "assets/css/variables";

$left-panel-marBot__medium: 40px;

.list {
	height:100%;
	position: relative;

	> div {
		height:100%;
	}

	.close-menu {
		position: fixed;
		z-index: 2001;
		padding-left: 20px;
		top: 20px;
		color: #fff;
		display: none;

		@media #{$breakPoint_medium}, #{$breakPoint_small}, #{$breakPoint_xtra_small} {
			display: block;
		}
	}

	.mobile-quick-search {
		right: 22px;
		top: 16px;
		position: fixed;
		z-index: 2001;
		color: #fff;
		width: 70%;
		display: none;

		@include breakpoint-d(lg){
			display: block;
		}

		&__input {
			height: 30px;
			position: relative;
			right:0;
			font-size: .8em;
			outline-width: 0;
			border-radius: 20px;
			padding-left: 20px;
			color: #333;
			border: 1px solid $strongPurple;
			background: rgba(255,255,255,.8);

			&--open {
				opacity:0;
				width:0;
				margin-left: 100%;
				@include transition(200)
			}

			&--close {
				opacity:1;
				width: 100%;
				margin-left: 0;
				@include transition(200)
			}
		}

		i {
			position: absolute;
			right:10px;
			top:0;
			font-size: 20px;
			line-height: 30px;
		}

		&__open {
			color: #fff;
		}

		&__close {
			color: $strongPurple;
		}

		&__open, &__close {
			&--open {
				opacity:0;
				@include transition(200)
			}

			&--close {
				opacity:1;
				@include transition(200)
			}
		}
	}

	&__pos-absolute {
		@media #{$breakPoint_medium}, #{$breakPoint_small}, #{$breakPoint_xtra_small} {
			z-index:10;
			position:absolute;
			background-image: url("/assets/img/bg.jpg");
			background-size:cover;
			height: 55vh;

			&--false {
				top: 0;

				@include transition(200);
			}

			&--true {
				top:-55vh;
				@include transition(200);
			}
		}

		@include breakpoint(xs){
			background: transparent;
			height: $content_height__medium;
			top:0;

			&--true {
				opacity: 1;
				@include transition(200);
			}

			&--true {
				opacity: 0;
				z-index:-1;
				@include transition(200);
			}


			.cover {
				background: rgba(0,0,0,.85);
			}
		}
	}

	&__cRight {
		height: $content_height__large;
		width: 100%;
		margin: auto;
		background: #ffffff;

		@include boxShadow();

		@media #{$fullHD} {
			height: $content_height__medium;
		}

		@include breakpoint(xs) {
			.cover {
				display: none;
			}
		}

		&__cTable {
			width: 100%;
			padding-left: 60px;
			padding-right: 60px;
			background: #fff;
			max-height: 100%;
			overflow-y: auto;

			@include breakpoint-d(lg) {
				padding-left: 20px;
				padding-right:20px;
			}

			@include breakpoint(xs){
				padding-left:10px;
				padding-right:10px;
				background-image: url(/assets/img/bg.jpg);
				background-size: cover;
				min-height: 100%;

				&::before {
					position: absolute;
					background: rgba(0,0,0,.7);
					content: '';
					top:0;
					left:0;
					right:0;
					bottom:0;
				}
			}
		}
	}
}