/* VARIABLES */

$nav-height__large: 100px;
$nav-height__medium: 60px;

$content_height__large: calc(100vh - #{$nav-height__large});
$content_height__medium: calc(100vh - #{$nav-height__medium});

/*   COLORS   */

$blue:			#18121E;
$green:			#233237;
$red:			#984B43;
$yellow:		#EAC76A;
$strongPurple:	#7e1f86;
$dampPurple:    #a182a4;
$mediumPurple:  #924f7c;


/* MEDIA QUERIES */
$fullHD: "only screen and (max-width : 1920px)";
$laptopLowRes: "only screen and (max-width : 1368px)";

$breakPoint_xtra_large: "only screen and (min-width : 1200px)";
$breakPoint_large: "only screen and (min-width : 992px) and (max-width : 1200px)";
$breakPoint_medium: "only screen and (min-width : 768px) and (max-width : 992px)";
$breakPoint_small: "only screen and (min-width : 544px) and(max-width : 768px)";
$breakPoint_xtra_small: "only screen and (max-width : 544px)";


$breakPoint_lg-and-up: "only screen and (min-width : 992px)";
$breakPoint_md-and-up: "only screen and (min-width : 768px)";
$breakPoint_sm-and-up: "only screen and (min-width : 544px)";


$breakPoint_lg-and-down: "only screen and (max-width : 1200px)";
$breakPoint_md-and-down: "only screen and (max-width : 922px)";
$breakPoint_sm-and-down: "only screen and (max-width : 768px)";



$tablet: "only screen and (max-width : 768px)";
$breakPoint_lessThan576: "only screen and (max-width : 576px)";

$breakPoint_h600: "only screen and (max-height : 600px)";

@mixin breakpoint($class) {
	@if $class == xl {
		@media #{$breakPoint_xtra_large} { @content; }
	}

	@else if $class == lg {
		@media #{$breakPoint_large} { @content; }
	}

	@else if $class == md {
		@media #{$breakPoint_medium} { @content; }
	}

	@else if $class == sm {
		@media #{$breakPoint_small} { @content; }
	}

	@else if $class == xs {
		@media #{$breakPoint_xtra_small} { @content; }
	}

	@else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}

@mixin breakpoint-u($class) {
	@if $class == lg {
		@media #{$breakPoint_lg-and-up} { @content; }
	}

	@else if $class == md {
		@media #{$breakPoint_md-and-up} { @content; }
	}

	@else if $class == sm {
		@media #{$breakPoint_sm-and-up} { @content; }
	}

	@else {
		@warn "Breakpoint-u mixin supports: lg, md, sm";
	}
}

@mixin breakpoint-d($class) {
	@if $class == lg {
		@media #{$breakPoint_lg-and-down} { @content; }
	}

	@else if $class == md {
		@media #{$breakPoint_md-and-down} { @content; }
	}

	@else if $class == sm {
		@media #{$breakPoint_sm-and-down} { @content; }
	}

	@else {
		@warn "Breakpoint-f mixin supports: lg, md, sm";
	}
}


/* ANIMATIONS */

@mixin transition($duration) {
	transition: all ($duration)+ms;
	-o-transition: all ($duration)+ms;
	-moz-transition: all ($duration)+ms;
	-webkit-transition: all ($duration)+ms;
}

@mixin rotate($degree) {
	-webkit-transform: rotate($degree+deg);
	-moz-transform: rotate($degree+deg);
	-o-transform: rotate($degree+deg);
	transform: rotate($degree+deg);
}

@mixin elShadow(){
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

@mixin boxShadow(){
	-webkit-box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.25);
	box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.25);
}

@mixin antiBoxShadow(){
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

@mixin linkHoverEffect($underlineColor, $offsetTop, $borderHeight){
	position: relative;

	&::after {
		content: "";
		width: 0;
		margin-left: 50%;
		height: $borderHeight;
		background: $underlineColor;
		display: inline-block;
		position: absolute;
		bottom: $offsetTop;
		left: 0;

		@include transition(200);
	}

	&:hover {
		&::after {
			margin-left: 0;
			width: 100%;

			@include transition(200);
		}
	}
}


.hide-on {
	&_xl {
		@media #{$breakPoint_xtra_large} {
			display: none!important;
		}
	}

	&__lg {
		@media #{$breakPoint_large} {
			display: none!important;
		}
	}

	&__md {
		@media #{$breakPoint_medium} {
			display: none!important;
		}
	}

	&__sm {
		@media #{$breakPoint_small} {
			display: none!important;
		}
	}

	&__xs {
		@media #{$breakPoint_xtra_small} {
			display: none!important;
		}
	}
}