@import "assets/css/variables";

a, h1, h2,h3, h4, h5, h6, input, label {
	font-family: 'Lato', sans-serif;
}

body {
	background-image: url("/assets/img/bg.jpg");
	background-size:cover
}

.no-padding {
	padding:0;
}

.slider-handle {
	background-color: $mediumPurple!important;
	background-image: none!important;
}


/** NOT MINE, I SIMPLY MODIFIED THE FOLLOWING CODEPEN: https://codepen.io/CreativeJuiz/pen/BiHzp */

.checkbox-wrapper {
	margin-bottom: 0;

	label {
		margin-bottom: 0;

		@media #{$fullHD} {
			font-size: .8em;
		}
	}
}

.sort-order-icon {
	&--true {
		@include rotate(180);
		@include transition(100);
	}

	&--false {
		@include rotate(0);
		@include transition(100);
	}
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
	color: #fff;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0; top: 0;
	width: 1.25em; height: 1.25em;
	border: 2px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]:checked + label:before {
	background: $strongPurple;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: .1em; left: .1em;
	font-size: 1.3em;
	line-height: 0.8;
	color: #fff;
	transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 2px solid $dampPurple;
}

/* hover style just for information */
label:hover:before {
	border: 2px solid $mediumPurple!important;
}



.rzslider {
	.rz-pointer {
		background-color: $mediumPurple!important;
		width: 20px;
		height: 20px;
		top: -8px;
		outline-width: 0;

		&:after {
			width:0;
			height:0;
		}
	}

	.rz-selection {
		background-color: $mediumPurple!important;
	}

	.rz-bubble {
		color: #fff;
	}
}



@media #{$breakPoint_medium}, #{$breakPoint_large}, #{$breakPoint_xtra_large} {
	::-webkit-scrollbar {
		width: 15px;
	}

	::-webkit-scrollbar-track {
		//	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background: #dcdcdc;
		border: 1px solid #999;
	}

	::-webkit-scrollbar-thumb {
		background: $dampPurple;
	}
}



.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;

	> div {
		width: 18px;
		height: 18px;
		background-color: $mediumPurple;

		border-radius: 100%;
		display: inline-block;
		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1.0);
		  transform: scale(1.0);
	  }
}

.hamburger-menu-open {
	width: 30px;
	height: 30px;
	position: relative;

	@include rotate(0);
	@include transition(200);

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: #fff;
		border-radius: 9px;
		opacity: 1;
		left: 0;

		@include rotate(0);
		@include transition(200);

		&:nth-child(1) {
			top:0;
		}
		&:nth-child(2) {
			top: 10px;
		}
		&:nth-child(3) {
			top: 20px;
		}

		@include breakpoint(xs) {
			height: 2px;
		}
	}

	&--true {
		span {
			&:nth-child(1){
				top:10px;
				@include rotate(135);
			}
			&:nth-child(2){
				opacity:0;
				left: -60px;
			}
			&:nth-child(3){
				top: 10px;
				@include rotate(-135);
			}
		}
	}
}

.fade-transition {
	@include transition(9000);
}



.ui-view-container {
	position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
	position: absolute;
	left: 0;
	right: 0;
	@include transition(200)
}

[ui-view].ng-enter {
	opacity: 0;
}

[ui-view].ng-enter-active {
	opacity: 1;
}

[ui-view].ng-leave {
	opacity: 1;
	margin-left: 0;
}

[ui-view].ng-leave-active {
	opacity: 0;
	margin-left: 100px;
}
