<div class="cover"></div>

<div class="profile d-xl-flex d-lg-flex flex-lg-row flex-md-row flex-sm-column flex-xs-column" ui-view>

    <div class="go-back d-flex align-items-center" ui-sref="navbar.list">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>


    <!-- PROFILE LEFT COLUMN -->
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 profile__left-column d-flex align-items-center justify-content-center">


        <!-- PROFILE LEFT COLUMN || USER PROFILE PICTURE -->
        <div class="profile__left-column__cProfile-picture">
            <img class="profile__left-column__cProfile-picture__img" src="{{profile.user.picture.large}}" alt="">
        </div>
    </div>


    <!-- PROFILE RIGHT COLUMN -->
    <div class="col profile__right-column d-flex align-items-center justify-content-center">
        <div class="profile__right-column__cContactInformation d-flex align-items-center justify-content-center flex-column">


            <!-- PROFILE RIGHT COLUMN || USER FIRST AND LAST NAME-->
            <div class="profile__right-column__cContactInformation__cName">
                <h2 class="profile__right-column__cContactInformation__cName__text">
                    {{profile.user.name.first}} {{profile.user.name.last}}
                </h2>
            </div>


            <div class="profile__right-column__cContactInformation__cSpecifics d-flex justify-content-center flex-column">


                <!-- PROFILE RIGHT COLUMN || USER CELLPHONE NUMBER -->
                <div class="row profile__right-column__cContactInformation__cSpecifics__cCell-number">
                    <a href="tel:{{profile.user.cell}}">
                        <div class="d-flex flex-row">
                            <div class="col-xs-1 d-xs-block d-sm-flex flex-row">
                                <i class="fa fa-mobile profile__right-column__cContactInformation__cSpecifics__cCell-number__icon" aria-hidden="true"></i>
                                <span class="profile__right-column__cContactInformation__cSpecifics__cCell-number__icon__description">Cellphone:</span>
                            </div>

                            <div class="col">

                        <span class="profile__right-column__cContactInformation__cSpecifics__cCell-number__text">
                            {{profile.user.cell}}
                        </span>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- PROFILE RIGHT COLUMN || USER PHONE NUMBER -->
                <div class="row profile__right-column__cContactInformation__cSpecifics__cPhone-number">
                    <a href="tel:{{profile.user.phone}}">
                        <div class="d-flex flex-row">
                            <div class="col-xs-1 d-xs-block d-sm-flex flex-row">
                                <i class="fa fa-phone profile__right-column__cContactInformation__cSpecifics__cPhone-number__icon" aria-hidden="true"></i>
                                <span class="profile__right-column__cContactInformation__cSpecifics__cPhone-number__icon__description">Phonenumber:</span>
                            </div>

                            <div class="col">

                                <span class="profile__right-column__cContactInformation__cSpecifics__cPhone-number__text">
                                    {{profile.user.phone}}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- PROFILE RIGHT COLUMN || USER EMAIL -->
                <div class="row profile__right-column__cContactInformation__cSpecifics__cEmail">
                    <a class="profile__right-column__cContactInformation__cSpecifics__cEmail__text" href="mailto:{{user.email}}" target="_top">
                        <div class="d-flex flex-row">
                            <div class="col-xs-1 d-xs-block d-sm-flex flex-row">
                                <i class="fa fa-envelope profile__right-column__cContactInformation__cSpecifics__cEmail__icon" aria-hidden="true"></i>
                                <span class="profile__right-column__cContactInformation__cSpecifics__cEmail__icon__description">Email:</span>
                            </div>

                            <div class="col col-xs-11">
                                <span class="profile__right-column__cContactInformation__cSpecifics__cEmail__text">
                                    {{profile.user.email}}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- PROFILE RIGHT COLUMN || USER ADDRESS -->
                <div class="row profile__right-column__cContactInformation__cSpecifics__cAddress">
                    <div class="col-xs-1 d-xs-block d-sm-flex flex-row">
                        <i class="fa fa-home profile__right-column__cContactInformation__cSpecifics__cAddress__icon" aria-hidden="true"></i>
                        <span class="profile__right-column__cContactInformation__cSpecifics__cAddress__icon__description">Address:</span>
                    </div>

                    <div class="col">
                        <p class="profile__right-column__cContactInformation__cSpecifics__cAddress__text">
                            {{profile.user.location.street}}
                        </p>
                        <span class="profile__right-column__cContactInformation__cSpecifics__cAddress__text">
                            {{profile.user.location.postcode}},
                        </span>
                        <span style="text-transform: uppercase" class="profile__right-column__cContactInformation__cSpecifics__cAddress__text">
                            {{profile.user.location.city}}
                        </span>
                    </div>
                </div>
            </div>


            <!-- PROFILE RIGHT COLUMN || USER CSV CONTACT INFORMATION DOWNLOAD -->
            <div class="profile__right-column__cContactInformation__cExport-user" target="_self" download="foo.csv">
                <a
                    class="profile__right-column__cContactInformation__cExport-user__button"
                    target="_self"
                    href="https://randomuser.me/api/?format=csv"
                    download="foo.csv"
                >
                    Download CSV
                </a>
            </div>
        </div>
    </div>

</div>