@import "assets/css/variables";

.profile {
	height:100%;

	.go-back {
		position: fixed;
		z-index: 2001;
		padding-left: 20px;
		top: 0;
		height:100px;
		font-size: 2.4em;
		color: #fff;

		@include transition(200);
		@media #{$fullHD}{
			height:60px;
		}

		&:hover {
			cursor: pointer;
			color: $dampPurple;

			@include transition(200);
		}
	}

	&__left-column, &__right-column {
		height: 100%;
	}

	&__left-column {
		z-index:1;

		@media #{$breakPoint_medium}, #{$breakPoint_small}, #{$breakPoint_xtra_small} {
			height: calc(34vh - #{$nav-height__medium});
		}

		&__cProfile-picture {
			width: 33%;
			max-width:225px;
			min-width: 120px;

			@media #{$fullHD} {
				max-width: 175px;
			}

			@media #{$breakPoint_medium}, #{$breakPoint_small}, #{$breakPoint_xtra_small} {
				position: relative;
				top: calc(22vh - #{$nav-height__medium});
			}

			&__img {
				border-radius: 50%;
				border: 2px solid #FFF;
				width: 100%;
			}
		}
	}

	&__right-column {
		background: #fff;
		overflow: hidden;

		@media #{$breakPoint_medium}, #{$breakPoint_small}, #{$breakPoint_xtra_small} {
			height: auto;
			min-height: 66vh;
			padding-top: 100px;
			padding-bottom: 40px;
		}

		&__cContactInformation {
			width: 100%;

			&__cName {
				min-width: 50%;

				@media #{$fullHD} {
					min-width: 40%;
				}

				&__text {
					text-align: center;
					text-transform: capitalize;
					padding-left: 20px;
					padding-bottom: 15px;
					margin-bottom: 75px;
					font-weight: 100;
					font-size: 3em;
					letter-spacing: .4em;
					border-bottom: 1px solid #333;

					@media #{$fullHD} {
						font-size: 2.3em;
						margin-bottom: 50px;
					}

					@media #{$breakPoint_lessThan576} {
						font-size: 1.5em;
					}
				}
			}

			&__cSpecifics {
				a {
					color: $mediumPurple;

					@include breakpoint(xl) {
						font-size: 1em;

						&__cEmail {
							font-size: 1.4em;
						}
					}

					i{
						color: $mediumPurple;
					}
				}

				&__cCell-number,
				&__cPhone-number,
				&__cEmail,
				&__cAddress {
					margin-bottom: 25px;

					@media #{$fullHD} {
						margin-bottom: 20px;
					}

					&__icon {
						text-align: center;
						min-width: 60px;
						font-size: 2em!important;
						padding-right: 20px;

						@media #{$fullHD} {
							font-size: 1.2em!important;
						}

						@media #{$breakPoint_lessThan576} {
							padding-right: 0;
						}
					}

					&__text, &__icon__description {
						font-size: 1.4em;
						margin-bottom: 0;

						@media #{$fullHD} {
							font-size: 1em;
						}
					}

					&__icon__description {
						text-transform: uppercase;
						font-weight: 900;

						@media #{$breakPoint_lessThan576} {
							display: none;
						}
					}
				}
			}

			&__cExport-user {
				&__button {
					height:30px;
					width: 100%;
					outline-width: 0;
					border-radius: 20px;
					padding-left: 20px;
					padding-right: 20px;
					font-size: .7em;
					background: transparent;
					text-transform: uppercase;
					color: $mediumPurple;
					font-weight: 700;
					display: block;
					line-height: 25px;
					border: 2px solid $mediumPurple;

					@include transition(200);

					&:active, &:focus, &:target, &:hover {
						background: $mediumPurple;
						color: #fff;
						text-decoration: none;

						@include transition(200);
					}

					@media #{$breakPoint_sm-and-up} {
						display: none;
					}
				}
			}
		}
	}
}