<div class="col-3">
    <div class="wrapper__left-container">

        <div class="d-flex flex-row">
            <div class="wrapper__left-container__search">
                <input type="text">
            </div>
        </div>

    </div>
</div>

<div class="col-9 no-padding">
    <div class="wrapper__right-container">

        <div class="wrapper__right-container__table-container">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Phonenumber</th>
                    <th>E-mail</th>
                </tr>
            </table>
        </div>

    </div>
</div>